body {
    background-image: linear-gradient(to right, rgba(255, 254, 98, 0), rgba(255, 0, 0, 1));
}

h1{
    font-family: dndcregular;
}

@font-face {
    font-family: 'dndcregular';
    src: url('font/dndc-webfont.woff2') format('woff2'),
         url('font/dndc-webfont.woff') format('woff');
         url('font/DnDC.ttf') format('truetype');

}